name: Publish to Ansible Galaxy

on:
  workflow_run:
    workflows: ["Release Please"]
    types: [completed]
  workflow_dispatch:
    inputs:
      github_reference:
        description: "Git ref to import (tag/branch/sha). Defaults to latest tag."
        required: false

permissions:
  contents: read

jobs:
  import:
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    uses: moltimersmith/github-workflows/.github/workflows/reusable-galaxy-import.yaml@v0.0.5
    with:
      github_user: moltimersmith
      github_repo: ansible-role-uds-cli
