name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  call-release-please:
    uses: moltimersmith/github-workflows/.github/workflows/release-please.yaml@v1.0.0
    with:
      config-file: release-please-config.json
      manifest-file: .release-please-manifest.json
